---
import Layout from "../../layouts/Layout.astro";
import Header from "./components/Header.astro";
import Hero from "./components/Hero.astro";
import Projects from "./components/Projects.astro";
import Education from "./components/Education.astro";
import Footer from "./components/Footer.astro";
import Cta from "./components/Cta.astro";
---

<!-- ---
import Layout from "../../layouts/Layout.astro";

const title = "Portfolio under maintenance";
---

<Layout lang="en" title="Olver Arce | Portfolio">
  <div
    class="flex items-center justify-center min-h-screen bg-slate-900 text-slate-200 text-center"
  >
    <div class="max-w-md p-8">
      <h1 class="text-2xl mb-4">
        🚧 Under maintenance
        <span
          class="inline-block w-1.5 h-1.5 bg-sky-400 rounded-full ml-1 animate-bounce [animation-delay:0s]"
        ></span>
        <span
          class="inline-block w-1.5 h-1.5 bg-sky-400 rounded-full ml-1 animate-bounce [animation-delay:0.2s]"
        ></span>
        <span
          class="inline-block w-1.5 h-1.5 bg-sky-400 rounded-full ml-1 animate-bounce [animation-delay:0.4s]"
        ></span>
      </h1>

      <p class="opacity-80">
        I'm currently working on improvements to the portfolio.<br />
        Check back soon 👀
      </p>
    </div>
  </div>
</Layout> -->
<Layout lang="en" title="Olver Arce | Portfolio">
  <Header />
  <Hero />
  <Projects />
  <Education />
  <Cta />
  <Footer />
</Layout>
