---
import { CircleCheckBig } from '@lucide/astro';
import { Award } from '@lucide/astro';
import { FileCheck } from '@lucide/astro';

---

<section id="education" class=" bg-orange-600 ">
  <h2 class="text-3xl font-bold mb-10 logo p-2">
    Education
  </h2>
  <ul class="timeline timeline-snap-icon max-w-200 p-2 m-auto max-md:timeline-compact timeline-vertical">
  <li>
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="timeline-start mb-10 md:text-end">
      <time class="font-mono italic">2025-01</time>
            <div class="text-lg font-black">
              University of Tarapacá - Bachelor’s Degree in Computer and Informatics Engineering
            </div>
            <p>
              Key skills acquired include software development, data engineering, networking and communications, cybersecurity, and agile methodologies.
            </p>
            <a href="https://sisaca.uta.cl/wwwregistraduria/public/validador/validar/index/d/eyJmb2xpbyI6MjAyNTAwMTg2MDAyNTEsICJ0aXBvIjoxLCAic3BhSWQiOjAgLCAiY29ycmVsIjowfQ==" target="_blank" rel="noopener noreferrer" class="btn bg-black text-white border-black shadow-none my-3">
           <CircleCheckBig size={15}/>
            Validate
          </a>
    </div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="timeline-end md:mb-10">
      <time class="font-mono italic">2025-06</time>
      <div class="text-lg font-black">Cisco Networking Academy - Introduction to Cybersecurity</div>
      <p>
        This course covers key information security concepts and demonstrates how security breaches occur, as well as how external actors can exploit these vulnerabilities to carry out attacks.
      </p>
      <a href="https://www.credly.com/badges/dab01b80-eb0c-4071-9b76-3e4d3a83cb7c" target="_blank" rel="noopener noreferrer" class="btn bg-black text-white border-black shadow-none my-3">
        <Award size={15}/>
        Badge
      </a>
    </div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="timeline-start mb-10 md:text-end">
      <time class="font-mono italic">2025-08</time>
      <div class="text-lg font-black">OpenCV University - TensorFlow & Keras Bootcamp</div>
      <p>
      This course provides an introduction to neural networks, how to train and evaluate models, and their applications, mainly focused on image classification, including the use of Convolutional Neural Networks, Data Augmentation, Transfer Learning, and more.
      </p>
       <a href="https://courses.opencv.org/certificates/ab2520d9efd74d48a637508069f8be04" target="_blank" rel="noopener noreferrer" class="btn bg-black text-white border-black shadow-none my-3">
        <FileCheck size={15}/>
        Certificate
      </a>
    </div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="timeline-end md:mb-10">
      <time class="font-mono italic">2025-09</time>
      <div class="text-lg font-black">PMI - Kick-off</div>
      <p>
      This course is focused on project management using both agile and predictive methodologies.  
      It emphasizes the importance of aligning project objectives with business goals and stakeholders,  
      as well as understanding key concepts of Scrum and Kanban.  
      It also covers task prioritization and decomposition, and delivering functional increments iteratively to validate the most critical aspects from the start.
      </p>
      <a href="https://www.credly.com/badges/3d88d71a-092a-471c-9f36-866bfd4abaf8" target="_blank" rel="noopener noreferrer" class="btn bg-black text-white border-black shadow-none my-3">
        <Award size={15}/>
        Badge - Agile
      </a>
      <a href="https://www.credly.com/badges/fdbcb5a2-b546-473a-87ad-a51024be084f" target="_blank" rel="noopener noreferrer" class="btn bg-black text-white border-black shadow-none my-3">
        <Award size={15}/>
        Badge - Predictive
      </a>
    </div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="timeline-start mb-10 md:text-end">
      <time class="font-mono italic">2025-09</time>
      <div class="text-lg font-black">Udemy - Complete A.I. & Machine Learning, Data Science Bootcamp</div>
      <p>
      This is a comprehensive course on getting started in Machine Learning and Data Science using Python.  
      Technologies such as Pandas, NumPy, Matplotlib, Scikit-learn, and TensorFlow are used.  
      It details the different phases of the process: data exploration and analysis, data preprocessing,  
      model training and comparison, hyperparameter tuning, and model evaluation.
      </p>
      <a href="https://ude.my/UC-eec4c925-5044-4d99-9cd3-c8039c5aa1a8" target="_blank" rel="noopener noreferrer" class="btn bg-black text-white border-black shadow-none my-3">
        <FileCheck size={15}/>
        Certificate
      </a>
    </div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="timeline-end md:mb-10">
      <time class="font-mono italic">2025-11</time>
      <div class="text-lg font-black">FreeCodeCamp - Machine Learning with Python</div>
      <p>
        This course focuses on using TensorFlow for Machine Learning and Artificial Intelligence projects.  
        It covers different types of problems such as clustering, classification, regression, image classification,  
        natural language processing, Markov chains, and reinforcement learning with Q-learning.  
        The course emphasizes understanding how models work, their implementation, and presenting a variety  
        of challenges that may arise in this field.
      </p>
      <a href="https://www.freecodecamp.org/certification/fcc25ea2997-a5fc-4075-b062-f83122d44666/machine-learning-with-python-v7" target="_blank" rel="noopener noreferrer" class="btn bg-black text-white border-black shadow-none my-3">
        <FileCheck size={15}/>
        Certificate
      </a>
    </div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="timeline-start mb-10 md:text-end">
      <time class="font-mono italic">2026-01</time>
      <div class="text-lg font-black">PMI - Free Introduction: PMI Certified Professional in Managing AI (PMI-CPMAI)</div>
      <p>
      This course focuses on Artificial Intelligence project management based on six phases: Business Understanding, Data Understanding, Data Preparation, Model Development, Model Evaluation, and Model Operationalization.  
      It emphasizes a data-driven approach, promoting early exploration and validation of both business and data to ensure project feasibility.
      </p>
      <a href="/docs/CPMAI.pdf" target="_blank" rel="noopener noreferrer" class="btn bg-black text-white border-black shadow-none my-3">
        <FileCheck size={15}/>
        Certificate
      </a>
    </div>
  </li>
</ul>
<div class="divider text-gray-300 before:bg-gray-300 after:bg-gray-300 font-bold">★</div>
<div id="languages" class="pb-30">
  <h2 class="text-3xl logo font-bold p-2">
  Languages
</h2>
<div>
  <div class="card w-60 bg-cyan-700 m-auto shadow-xl shadow-black mb-10">
    <div class="card-body items-center text-center p-5">
      <img src="/icons/flag-us-svgrepo-com.svg" class="w-10 h-10"/>
      <h2 class="card-title text-lg font-bold">English</h2>
      <span class="badge bg-red-400 text-white border-none font-bold">B2</span>
      <p class="text-sm font-semibold">EF SET</p>
      <div class="card-actions mt-3">
        <a href="https://cert.efset.org/aaaGzJ" target="_blank" rel="noopener noreferrer" class="btn bg-black text-white border-black shadow-none my-3">
          <FileCheck size={15}/>
          Certificate
        </a>
      </div>
    </div>
  </div>
  <div class="card w-60 min-h-60 bg-red-600 m-auto shadow-xl shadow-black">
    <div class="card-body items-center text-center p-5 justify-center">
      <img src="/icons/spain-svgrepo-com.svg" class="w-10 h-10"/>
      <h2 class="card-title text-lg font-bold">Spanish</h2>
      <span class="badge bg-yellow-200 border-none font-bold">Native</span>
    </div>
  </div>
</div>
</div>
</section>