---
import {Code} from '@lucide/astro';
import {Brain} from '@lucide/astro';
import {FileUser} from '@lucide/astro';
---

<div
  class="hero min-h-screen relative"
  style="background-image: url(/hero/3d-render-flowing-particles-design-with-cyber-particles.jpg);"
>
  <div class="absolute inset-0 bg-black/60"></div>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Full Stack + ML/AI</h1>
      <p class="mb-5">
      I’m Olver, and I’m passionate about building applications that make life easier for people and businesses using Full Stack and Machine Learning.
      </p>
      <a href="#projects" class="btn m-2"><Code/>Projects<Brain/></a>
      <a href="/cv/olver-arce-cv-es.pdf" target="_blank" rel="noopener noreferrer" class="btn  m-2 "><FileUser/> Download CV</a>
    </div>
  </div>
</div>