---
import { CircleCheckBig } from '@lucide/astro';
import { Award } from '@lucide/astro';
import { FileCheck } from '@lucide/astro';

---

<section id="education" class=" bg-orange-600 ">
  <h2 class="text-3xl font-bold mb-10 logo p-2">
    Educación
  </h2>
  <ul class="timeline timeline-snap-icon max-w-200 p-2 m-auto max-md:timeline-compact timeline-vertical">
  <li>
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="timeline-start mb-10 md:text-end">
      <time class="font-mono italic">2025-01</time>
            <div class="text-lg font-black">
              Universidad de Tarapacá - Título de Ingeniero Civil en Computación e Informática
            </div>
            <p>
              Entre los principales conocimientos adquiridos destacan el desarrollo de software, la ingeniería de datos, las redes y comunicaciones, la ciberseguridad y las metodologías ágiles.
            </p>
            <a href="https://sisaca.uta.cl/wwwregistraduria/public/validador/validar/index/d/eyJmb2xpbyI6MjAyNTAwMTg2MDAyNTEsICJ0aXBvIjoxLCAic3BhSWQiOjAgLCAiY29ycmVsIjowfQ==" target="_blank" rel="noopener noreferrer" class="btn bg-black text-white border-black shadow-none my-3">
           <CircleCheckBig size={15}/>
            Validar
          </a>
    </div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="timeline-end md:mb-10">
      <time class="font-mono italic">2025-06</time>
      <div class="text-lg font-black">Cisco Networking Academy - Introduction to Cybersecurity</div>
      <p>
        Este curso aborda conceptos clave de la seguridad de la información y muestra cómo se generan brechas de seguridad, así como la forma en que actores externos pueden aprovechar estas vulnerabilidades para realizar ataques.
      </p>
      <a href="https://www.credly.com/badges/dab01b80-eb0c-4071-9b76-3e4d3a83cb7c" target="_blank" rel="noopener noreferrer" class="btn bg-black text-white border-black shadow-none my-3">
        <Award size={15}/>
        Insignia
      </a>
    </div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="timeline-start mb-10 md:text-end">
      <time class="font-mono italic">2025-08</time>
      <div class="text-lg font-black">OpenCV University - TensorFlow & Keras Bootcamp</div>
      <p>
      El presente curso ofrece una introducción a las redes neuronales, cómo entrenar y evaluar modelos, y su aplicación, principalmente enfocada en la clasificación de imágenes como usar Redes Neuronales Convolucionales, Data Augmentation, Transfer Learning, etc.
      </p> 
       <a href="https://courses.opencv.org/certificates/ab2520d9efd74d48a637508069f8be04" target="_blank" rel="noopener noreferrer" class="btn bg-black text-white border-black shadow-none my-3">
        <FileCheck size={15}/>
        Certificado
      </a>
    </div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="timeline-end md:mb-10">
      <time class="font-mono italic">2025-09</time>
      <div class="text-lg font-black">PMI - Kick-off</div>
      <p>
        Es un curso orientado a la gestión de proyectos utilizando metodologías ágiles y predictivas.
        Destaca la importancia de alinear los objetivos del proyecto con el negocio y los stakeholders,
        así como comprender conceptos clave de Scrum y Kanban.
        También aborda la priorización y descomposición de tareas, y la realización de entregas
        funcionales de forma iterativa para validar desde el inicio los aspectos más importantes.
      </p>
      <a href="https://www.credly.com/badges/3d88d71a-092a-471c-9f36-866bfd4abaf8" target="_blank" rel="noopener noreferrer" class="btn bg-black text-white border-black shadow-none my-3">
        <Award size={15}/>
        Insignia - Agile
      </a>
      <a href="https://www.credly.com/badges/fdbcb5a2-b546-473a-87ad-a51024be084f" target="_blank" rel="noopener noreferrer" class="btn bg-black text-white border-black shadow-none my-3">
        <Award size={15}/>
        Insignia - Predictive
      </a>
    </div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="timeline-start mb-10 md:text-end">
      <time class="font-mono italic">2025-09</time>
      <div class="text-lg font-black">Udemy - Complete A.I. & Machine Learning, Data Science Bootcamp</div>
      <p>
        Es un curso completo sobre cómo comenzar en el área de Machine Learning y Data Science utilizando Python.
        Se utilizan tecnologías como Pandas, NumPy, Matplotlib, Scikit-learn y TensorFlow.
        En él se detallan las distintas fases del proceso: exploración y análisis de datos, procesamiento de datos,
        entrenamiento y comparación de modelos, búsqueda de mejores hiperparámetros y evaluación de modelos.
      </p>
      <a href="https://ude.my/UC-eec4c925-5044-4d99-9cd3-c8039c5aa1a8" target="_blank" rel="noopener noreferrer" class="btn bg-black text-white border-black shadow-none my-3">
        <FileCheck size={15}/>
        Certificado
      </a>
    </div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="timeline-end md:mb-10">
      <time class="font-mono italic">2025-11</time>
      <div class="text-lg font-black">FreeCodeCamp - Machine Learning with Python</div>
      <p>
        Es un curso enfocado en el uso de TensorFlow para proyectos de Machine Learning e Inteligencia Artificial.
        Se presentan distintos tipos de problemas como clustering, clasificación, regresión, clasificación de imágenes,
        procesamiento de lenguaje natural, cadenas de Markov y reinforcement learning con Q-learning.
        Se prioriza la explicación del funcionamiento de los modelos, su implementación y la presentación de una variedad
        de problemáticas que pueden presentarse en este campo.
      </p>
      <a href="https://www.freecodecamp.org/certification/fcc25ea2997-a5fc-4075-b062-f83122d44666/machine-learning-with-python-v7" target="_blank" rel="noopener noreferrer" class="btn bg-black text-white border-black shadow-none my-3">
        <FileCheck size={15}/>
        Certificado
      </a>
    </div>
    <hr />
  </li>
  <li>
    <hr />
    <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div class="timeline-start mb-10 md:text-end">
      <time class="font-mono italic">2026-01</time>
      <div class="text-lg font-black">PMI - Free Introduction: PMI Certified Professional in Managing AI (PMI-CPMAI)</div>
      <p>
        Curso orientado a la gestión de proyectos de Inteligencia Artificial basado en seis fases: Business Understanding, Data Understanding, Data Preparation, Model Development, Model Evaluation y Model Operationalization.
        Destaca su enfoque en los datos, promoviento en la exploración y validación temprana tanto del negocio como en los datos para la viabilidad del proyecto.
      </p>
      <a href="/docs/CPMAI.pdf" target="_blank" rel="noopener noreferrer" class="btn bg-black text-white border-black shadow-none my-3">
        <FileCheck size={15}/>
        Certificado
      </a>
    </div>
  </li>
</ul>
<div class="divider text-gray-300 before:bg-gray-300 after:bg-gray-300 font-bold">★</div>
<div id="languages" class="pb-30">
  <h2 class="text-3xl logo font-bold p-2">
  Idiomas
</h2>
<div>
  <div class="card w-60 bg-cyan-700 m-auto shadow-xl shadow-black mb-10">
    <div class="card-body items-center text-center p-5">
      <img src="/icons/flag-us-svgrepo-com.svg" class="w-10 h-10"/>
      <h2 class="card-title text-lg font-bold">Inglés</h2>
      <span class="badge bg-red-400 text-white border-none font-bold">B2</span>
      <p class="text-sm font-semibold">EF SET</p>
      <div class="card-actions mt-3">
        <a href="https://cert.efset.org/aaaGzJ" target="_blank" rel="noopener noreferrer" class="btn bg-black text-white border-black shadow-none my-3">
          <FileCheck size={15}/>
          Certificado
        </a>
      </div>
    </div>
  </div>
  <div class="card w-60 min-h-60 bg-red-600 m-auto shadow-xl shadow-black">
    <div class="card-body items-center text-center p-5 justify-center">
      <img src="/icons/spain-svgrepo-com.svg" class="w-10 h-10"/>
      <h2 class="card-title text-lg font-bold">Español</h2>
      <span class="badge bg-yellow-200 border-none font-bold">Nativo</span>
    </div>
  </div>
</div>
</div>
</section>